In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("contracts_01May2025.csv", low_memory=False )
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16385 entries, 0 to 16384
Data columns (total 64 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Date Signed / Action Date                    16385 non-null  object
 1   Action Type                                  16385 non-null  object
 2   Contract Number                              16385 non-null  object
 3   Contract Name                                16385 non-null  object
 4   Contract Vehicle                             6640 non-null   object
 5   Reason For Mod                               16385 non-null  object
 6   Action Amt ($K)                              16385 non-null  float64
 7   Contract FY 2024 Spend ($K)                  2663 non-null   float64
 8   Contract Spend to Date ($K)                  12354 non-null  float64
 9   Contract Ceiling Value ($K)                  12354 non-null  float64
 10  Contract Award Date                          12354 non-null  object
 11  Contract Start Date                          12354 non-null  object
 12  Contract Last Date to Order                  6525 non-null   object
 13  Contract Ultimate Expiration Date            5829 non-null   object
 14  Ultimate Completion Date of Transaction      15513 non-null  object
 15  Task Order Number                            9863 non-null   object
 16  Modification Number                          16385 non-null  object
 17  Task Order Award Date                        10003 non-null  object
 18  Task Order Start Date                        10003 non-null  object
 19  Task Order Ultimate Expiration Date          9684 non-null   object
 20  Task Order FY 2024 Spending ($K)             3451 non-null   float64
 21  Task Order Spending to Date ($K)             10003 non-null  float64
 22  Task Order Ceiling Value ($K)                9987 non-null   float64
 23  Task Order Percent of Ceiling Value Spent    5326 non-null   float64
 24  Funding Department                           16385 non-null  object
 25  Funding Agency                               15395 non-null  object
 26  Funding Division                             6554 non-null   object
 27  Funding Office                               2020 non-null   object
 28  Contracting Department                       16385 non-null  object
 29  Contracting Agency                           15648 non-null  object
 30  Contracting Division                         7056 non-null   object
 31  Contracting Office                           2280 non-null   object
 32  Category                                     16385 non-null  object
 33  Product or Service                           16385 non-null  object
 34  PSC-Description                              16385 non-null  object
 35  NAICS-Description                            16385 non-null  object
 36  Vendor                                       16385 non-null  object
 37  UEI                                          16385 non-null  object
 38  Contract Requirement Description             16385 non-null  object
 39  Requirement Category                         7598 non-null   object
 40  CO Business Size Determination               16385 non-null  object
 41  Small Disadvantaged Business                 16385 non-null  object
 42  Self Certified Small Disadvantaged Business  16385 non-null  object
 43  8(a)                                         16385 non-null  object
 44  SBA Certified 8(a) JV                        16385 non-null  object
 45  Veteran Owned                                16385 non-null  object
 46  Service-Disabled Veteran Owned               16385 non-null  object
 47  HUBZone                                      16385 non-null  object
 48  Self Certified HUBZone JV                    16385 non-null  object
 49  Woman Owned                                  16385 non-null  object
 50  Woman Owned Small Business                   16385 non-null  object
 51  EDWOSB                                       16385 non-null  object
 52  WOSB JV                                      16385 non-null  object
 53  EDWOSB JV                                    16385 non-null  object
 54  Alaska Native Corporation Owned              16385 non-null  object
 55  AbilityOne                                   16385 non-null  object
 56  Contract Type                                16385 non-null  object
 57  Set-Aside                                    16385 non-null  object
 58  Extent Competed                              16385 non-null  object
 59  Solicitation Procedure                       16385 non-null  object
 60  Place of Performance City                    15022 non-null  object
 61  Place of Performance State                   15022 non-null  object
 62  Place of Performance Country                 16385 non-null  object
 63  Place of Performance Country Code            15513 non-null  object
dtypes: float64(8), object(56)
memory usage: 8.0+ MB

In [31]:
df[["Solicitation Procedure","CO Business Size Determination","Small Disadvantaged Business", "Self Certified Small Disadvantaged Business","HUBZone"]]=df[["Solicitation Procedure","CO Business Size Determination","Small Disadvantaged Business", "Self Certified Small Disadvantaged Business","HUBZone"]].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16385 entries, 0 to 16384
Data columns (total 64 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Date Signed / Action Date                    16385 non-null  object
 1   Action Type                                  16385 non-null  object
 2   Contract Number                              16385 non-null  object
 3   Contract Name                                16385 non-null  object
 4   Contract Vehicle                             6640 non-null   object
 5   Reason For Mod                               16385 non-null  object
 6   Action Amt ($K)                              16385 non-null  float64
 7   Contract FY 2024 Spend ($K)                  2663 non-null   float64
 8   Contract Spend to Date ($K)                  12354 non-null  float64
 9   Contract Ceiling Value ($K)                  12354 non-null  float64
 10  Contract Award Date                          12354 non-null  object
 11  Contract Start Date                          12354 non-null  object
 12  Contract Last Date to Order                  6525 non-null   object
 13  Contract Ultimate Expiration Date            5829 non-null   object
 14  Ultimate Completion Date of Transaction      15513 non-null  object
 15  Task Order Number                            9863 non-null   object
 16  Modification Number                          16385 non-null  object
 17  Task Order Award Date                        10003 non-null  object
 18  Task Order Start Date                        10003 non-null  object
 19  Task Order Ultimate Expiration Date          9684 non-null   object
 20  Task Order FY 2024 Spending ($K)             3451 non-null   float64
 21  Task Order Spending to Date ($K)             10003 non-null  float64
 22  Task Order Ceiling Value ($K)                9987 non-null   float64
 23  Task Order Percent of Ceiling Value Spent    5326 non-null   float64
 24  Funding Department                           16385 non-null  object
 25  Funding Agency                               15395 non-null  object
 26  Funding Division                             6554 non-null   object
 27  Funding Office                               2020 non-null   object
 28  Contracting Department                       16385 non-null  object
 29  Contracting Agency                           15648 non-null  object
 30  Contracting Division                         7056 non-null   object
 31  Contracting Office                           2280 non-null   object
 32  Category                                     16385 non-null  object
 33  Product or Service                           16385 non-null  object
 34  PSC-Description                              16385 non-null  object
 35  NAICS-Description                            16385 non-null  object
 36  Vendor                                       16385 non-null  object
 37  UEI                                          16385 non-null  object
 38  Contract Requirement Description             16385 non-null  object
 39  Requirement Category                         7598 non-null   object
 40  CO Business Size Determination               16385 non-null  category
 41  Small Disadvantaged Business                 16385 non-null  category
 42  Self Certified Small Disadvantaged Business  16385 non-null  category
 43  8(a)                                         16385 non-null  object
 44  SBA Certified 8(a) JV                        16385 non-null  object
 45  Veteran Owned                                16385 non-null  object
 46  Service-Disabled Veteran Owned               16385 non-null  object
 47  HUBZone                                      16385 non-null  category
 48  Self Certified HUBZone JV                    16385 non-null  object
 49  Woman Owned                                  16385 non-null  object
 50  Woman Owned Small Business                   16385 non-null  object
 51  EDWOSB                                       16385 non-null  object
 52  WOSB JV                                      16385 non-null  object
 53  EDWOSB JV                                    16385 non-null  object
 54  Alaska Native Corporation Owned              16385 non-null  object
 55  AbilityOne                                   16385 non-null  object
 56  Contract Type                                16385 non-null  object
 57  Set-Aside                                    16385 non-null  object
 58  Extent Competed                              16385 non-null  object
 59  Solicitation Procedure                       16385 non-null  category
 60  Place of Performance City                    15022 non-null  object
 61  Place of Performance State                   15022 non-null  object
 62  Place of Performance Country                 16385 non-null  object
 63  Place of Performance Country Code            15513 non-null  object
dtypes: category(5), float64(8), object(51)
memory usage: 7.5+ MB

In [4]:
df.groupby('Small Disadvantaged Business').count()

/var/folders/q4/gw0xzyt51vn2p6xn25t2vw1m0000gn/T/ipykernel_49057/2483284049.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Small Disadvantaged Business').count()

,Date Signed / Action Date,Action Type,Contract Number,Contract Name,Contract Vehicle,Reason For Mod,Action Amt ($K),Contract FY 2024 Spend ($K),Contract Spend to Date ($K),Contract Ceiling Value ($K),...,Alaska Native Corporation Owned,AbilityOne,Contract Type,Set-Aside,Extent Competed,Solicitation Procedure,Place of Performance City,Place of Performance State,Place of Performance Country,Place of Performance Country Code
Small Disadvantaged Business,,,,,,,,,,,,,,,,,,,,,
N,16318,16318,16318,16318,6573,16318,16318,2660,12313,12313,...,16318,16318,16318,16318,16318,16318,14964,14964,16318,15454
Y,67,67,67,67,67,67,67,3,41,41,...,67,67,67,67,67,67,58,58,67,59

In [5]:
df.groupby('Self Certified Small Disadvantaged Business').count()

/var/folders/q4/gw0xzyt51vn2p6xn25t2vw1m0000gn/T/ipykernel_49057/2858323549.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Self Certified Small Disadvantaged Business').count()

,Date Signed / Action Date,Action Type,Contract Number,Contract Name,Contract Vehicle,Reason For Mod,Action Amt ($K),Contract FY 2024 Spend ($K),Contract Spend to Date ($K),Contract Ceiling Value ($K),...,Alaska Native Corporation Owned,AbilityOne,Contract Type,Set-Aside,Extent Competed,Solicitation Procedure,Place of Performance City,Place of Performance State,Place of Performance Country,Place of Performance Country Code
Self Certified Small Disadvantaged Business,,,,,,,,,,,,,,,,,,,,,
N,13157,13157,13157,13157,5686,13157,13157,1810,9382,9382,...,13157,13157,13157,13157,13157,13157,12106,12106,13157,12549
Y,3228,3228,3228,3228,954,3228,3228,853,2972,2972,...,3228,3228,3228,3228,3228,3228,2916,2916,3228,2964

In [6]:
df.groupby('Self Certified Small Disadvantaged Business')['Action Amt ($K)'].sum().to_frame()

/var/folders/q4/gw0xzyt51vn2p6xn25t2vw1m0000gn/T/ipykernel_49057/3217541447.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Self Certified Small Disadvantaged Business')['Action Amt ($K)'].sum().to_frame()

                                             Action Amt ($K)
Self Certified Small Disadvantaged Business
N                                                 -560918.53
Y                                                 -130301.97

In [7]:
total_value=df['Action Amt ($K)'].sum()
total_value

-691220.5

In [8]:
self_certified_value = 130301.97/total_value*100
self_certified_value

-18.850999066144595

In [9]:
self_certified_ratio = 3228/(3228+13157)
self_certified_ratio

0.197009459871834

In [10]:
filtered_df = df.query("'Reason For Mod'] == 'Terminate for Convenience (complete or partial)']

/var/folders/q4/gw0xzyt51vn2p6xn25t2vw1m0000gn/T/ipykernel_49057/2542361373.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Small Disadvantaged Business')['Action Amt ($K)'].sum().to_frame()

                              Action Amt ($K)
Small Disadvantaged Business
N                                  -690939.74
Y                                     -280.76

In [53]:
SDB_df = filtered_df[df['Self Certified Small Disadvantaged Business'] == 'Y']
SDB_df['Self Certified Small Disadvantaged Business'].sample(10)

/var/folders/q4/gw0xzyt51vn2p6xn25t2vw1m0000gn/T/ipykernel_49057/2345003832.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  SDB_df = filtered_df[df['Self Certified Small Disadvantaged Business'] == 'Y']

1469     Y
5690     Y
7955     Y
14095    Y
16292    Y
4482     Y
6949     Y
11026    Y
6943     Y
5064     Y
Name: Self Certified Small Disadvantaged Business, dtype: category
Categories (2, object): ['N', 'Y']

In [55]:
SDB_df.groupby(['Vendor'])['Action Amt ($K)'].count().nlargest(20)

Vendor
F & M MICRO PRODUCTS INC                                      137
ASRC FEDERAL FACILITIES LOGISTICS, LLC                        111
MANAGEMENT & ENGINEERING TECHNOLOGIES INTERNATIONAL (METI)     84
VMS AIRCRAFT COMPANY, INC                                      68
MBA OFFICE SUPPLY INC.                                         55
TYNES PROPERTY MANAGEMENT LLC                                  49
KPAUL PROPERTIES, LLC                                          46
DOMESTIC AWARDEES (UNDISCLOSED)                                39
COMPLETE PACKAGING, SHIPPING &                                 38
SYNERGY AMERICA INCORPORATED                                   35
NOREX GROUP, LLC                                               33
AXLE INFORMATICS, LLC                                          28
CHEROKEE NATION BUSINESSES, LLC                                26
ASRT, INC                                                      18
ROSE LI & ASSOCIATES, INC.                                     18
TANAQ SUPPORT SERVICES, LLC                                    17
GOLDBELT, INCORPORATED                                         16
NEW TECH SOLUTIONS, INC (FREMONT, CA)                          16
STAG ENTERPRISE INC                                            16
WINDSOR GROUP                                                  15
Name: Action Amt ($K), dtype: int64

In [57]:
SDB_df.groupby(['Vendor'])['Action Amt ($K)'].sum().nlargest(20)

Vendor
HERITAGE INTERIORS, LLC             1353.28
ITS AGILE, LLC                      1233.48
AT-IMPACT LLC                       1117.40
MARVEL CONSULTING LLC                194.50
KAUFFMAN & ASSOCIATES, INC.          108.64
ASCELLA TECHNOLOGIES, INC.            65.12
BLUEPRINT CREATIVE GROUP, LLC         42.33
DYNAMIC INTEGRATED SERVICES, LLC      11.67
11TH HOUR SEARCH                       0.00
2BFOCUSED INC.                         0.00
2M RESEARCH SERVICES, LLC              0.00
2NDWAVE LLC                            0.00
3KPC, INC.                             0.00
4ES CORPORATION                        0.00
@ORCHARD, LLC                          0.00
A KING DAILEY LLC                      0.00
A P VENTURES, LLC                      0.00
A&I ENTERPRISE SYSTEMS, INC.           0.00
A-1 ANHERMA, LLC                       0.00
A-TEAM SOLUTIONS, LLC                  0.00
Name: Action Amt ($K), dtype: float64

In [63]:
filtered_df['Contract Requirement Description'].countunique()

AttributeError: 'Series' object has no attribute 'countunique'